# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Mechanics.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Пользователь\princess game1\Assets\Scripts\Mechanics\.idea\.idea.Mechanics.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
